<mat-card>

  <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Curso</mat-label>
      <input matInput placeholder="Nome do Curso" formControlName="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Categoria</mat-label>
      <input matInput placeholder="Nome da Categoria" formControlName="category">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </form>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  </mat-card-actions>

</mat-card>
